@page
@model PrivacyModel
@{
    ViewData["Title"] = "Help";
}
<h1>@ViewData["Title"]</h1>

<p>Take Blip Chat - Commands</p>

<h3>/to [user] [message]</h3>
<p>
    send a chat message to a user, example: /to zemaria olá<br>
    *check PRV for private message
</p>

<h3>/rooms</h3>
<p>list available rooms</p>

<h3>/change [room]</h3>
<p>change to room</p>

<h3>/newroom [room]</h3>
<p>create new room</p>

<h3>/exit</h3>
<p>logoff</p>